*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    background-color: black;
    height: 3rem;
    position: fixed;
    
}
a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-left: 20px;

}
img{
    width: 200px;
    margin-top: 20px;
}
.gyth{
    margin-left: 816.5px;
}
.gy{
    width: 1350px;
    margin-top: -20px;
}

.th{
    width: 1350px;
    margin-top: -4px;
}
.rf{
    margin-top: 50px;
    width: 1350px;
}
body{
    background-color: black;
}